body{
  //background: #333333;
}

#data{
  display: block ;
  font-size: 14px;
}

.btn{
  margin-top: 5px;
  width: 100px;
  text-align: center;
}

#result-con{

  h1{
    font-size: 14px;
    //color: #fff;
  }

  #result{
    outline: none;
  }
}